
body {
    font-family: 'Montserrat'; /* Set the default font family */
    background-color: #f0f0f0; /* Set the background color */
    color: #333; /* Set the text color */
    margin: 0; /* Remove default margin */
  }


img{
 width: 100%;
 height: auto;
 padding-bottom: 50px;
 padding-top: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: black;

}

.navHeader a {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    align-items: right;
    color: black;
}

.navHeader ul li a{
  color: #fff;
}

.navHeader ul li a:hover{
  color: #45e6e6;
}


#main{
    background-color: 
    #e9ece2;
}

header{
    background-color: #496989;
}


footer{
    background-color: #176B87;

}

#trio {
    background-color: #9AD0C2;
}

#trio .description{
  font-size: 20px;
}
#trio .col-md-4 {
  margin-bottom: 30px;
}
#trio .col-md-4:last-of-type {
  margin-bottom: 0;
}

.card{
    background-color: #f7f7f3;
}

section {
  padding: 60px 0;
}



.content-text{
    padding-bottom: 50px;
    padding-top: 50px;
}

.journey-text{
  padding-top: 50px;
  color: black;
  
}

#Contact
{
    background-color: #9AD0C2;
}

#journey
{
    background-color: #d3e7e5;
}



  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #0b969b;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #496989;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .sitelink ul li{
    list-style: none;
  }

  .iframe-wrap{
    position: relative;
    height: 0;
    padding-bottom: 76%;
    overflow: hidden;
    margin-bottom: 20px;

}

.iframe-wrap iframe{
    width: 100%;
    position: absolute;
    height: 100%;
    top:0 ;
    left: 0;

}

.social-links ul li a{
  color: #fff;
}

.social-links a:hover {
  color: #45e6e6; /* Change the color to your desired hover color */
}

.sitelink ul li a{
  color: #fff;
}

.sitelink ul li a:hover{
  color: #45e6e6;
}

footer {
  padding: 60px 0;
}
footer ul {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .mobile-navigation {
    display: none !important;
  }
  .navHeader ul.nav li:last-child a {
    padding-right: 0;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .navHeader ul li a {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navHeader {
    display: none !important;
  }
  #main .content-image img {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 300px;
  }
  #main .content-text {
    padding-bottom: 0;
  }
  #main .content-text-wrap {
    order: 3;
  }
  #journey .journey-image img {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 300px;
  }

}

.card-body .btn-success{
  color: white;
  background-color:#496989 ;
  border:#496989 1px solid !important;
}

.card-body .btn-success:hover, 
.card-body .btn-success:active,
.card-body .btn-success:focus
{
  color: #496989;
  background-color:#fff ;
  border:#496989 ;
}

.form 
.btn-success {
  color: white;
  background-color:#496989 ;
  border:#496989 1px solid !important ;
  box-shadow: none!important;
}

.form  .btn-success:hover, 
.form  .btn-success:active,
.form  .btn-success:focus
{
  color: #496989;
  background-color:#fff ;
  border:#496989 ;
}


.btn-check:active+.btn-success:focus, .btn-check:checked+.btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show>.btn-success.dropdown-toggle:focus,
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary:active, .btn-primary:focus {
  box-shadow: none !important;
}
.btn-primary {
  color: #fff;
  background-color: #496989;
  border-color: #496989;
}


.btn-primary:active,
.btn-primary:focus {
  background: transparent;
  border: 0;
}






